<!-- event details start -->
<section class="event-detail" *ngIf="isEvent">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{eventData[0]?.EventName}}</h2>
                <p>
                    <a href="#">{{eventData[0]?.PlaceName}} , {{addressData[0]?.AddressLine1}} {{addressData[0]?.AddressLine2}} , {{addressData[0]?.City}}
                        , {{addressData[0]?.State}} , {{addressData[0]?.PinCode}} </a>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="eve-time">
                    <ul>
                        <li>
                            <i class="fa fa-calendar"></i>
                            <h4>{{eventData[0]?.EventEndDateTime | date:'shortDate'}}</h4>
                        </li>

                        <li>
                            <i class="fa fa-clock-o"></i>
                            <h4>{{eventData[0]?.EventEndDateTime | date:'mediumTime'}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="noTicket" class="help-block alert alert-danger">{{noTicket}}</div>
            <div class="col-md-8">
                <div class="event-detail-box">
                    <h3>Ticket Information</h3>
                    <div class="ticket-box">
                        <table class="table table-striped table-condensed" width="100%">
                            <thead>
                                <tr>
                                    <th width="68%" align="left">Type</th>
                                    <th>&nbsp;</th>
                                    <th width="32%" align="right">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ticketData;let i = index">
                                    <td>
                                        <strong>{{item.TicketType}}</strong>
                                        <div class="des">Presentation is 60 minutes. Please arrive 10-15 minutes early to allow time to check
                                            in.
                                        </div>
                                    </td>
                                    <td>
                                        <span *ngIf="item.TicketPrice == 0" class="label label-success">Free</span>
                                        <span *ngIf="item.TicketPrice > 0" class="label label-success">$ {{item.TicketPrice}}</span>
                                    </td>
                                    <td align="right">
                                        <select class="form-control minimal" (change)="getTicketDeatails($event.target.value,item.TicketPrice,i)">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-default more" role="button" data-toggle="modal" data-target="#register-modal">Register</a>
                        <a class="btn btn-default more" (click)="proceedToPayment()" style="float:right;">Buy Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-detail-box">
                    <h3>Order Summary</h3>
                    <div class="ticket-box">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="or-list">Total Tickets</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="0" disabled value="{{totalTicket}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="or-list">Add-on</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="$0.00 USD" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="or-list">Processing Fee</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="$0.00 USD" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="or-list">
                                        <strong>Sub Total</strong>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mar-bottom">
                                        <input class="form-control" type="text" placeholder="$0.00 USD" disabled value="{{totalPrice}}">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- / Order Summary -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="event-detail-box">
                    <h3>Where </h3>
                    <div class="go-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471220.56298726925!2d88.04954505934278!3d22.675752108874445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C+West+Bengal!5e0!3m2!1sen!2sin!4v1505115444596"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-des">
                <p>All Sales are FINAL.</p>
                <p>All tickets are NON-REFUNDABLE and NON-TRANSFERABLE.</p>
                <p>The person in whose name the ticket is issued must also be present at the door with valid photo ID.</p>
                <p>A printout of the order receipt issued by tickethungama.com should be produced at the venue. Please NOTE
                    that some venues / organizers may need you to exchange the eTicket issued by TicketHungama.com with the
                    actual ticket in order to get an entry.</p>
                <p>If the event attendee is different from the credit card holder, a copy of the credit card used for ticket
                    purchase must be produced along with the order.</p>
                <p>Any failure in providing the aforementioned documents may result in denial of admission to the event with
                    no refund.</p>
                <p>In case of event being cancelled/postponed tickethungama.com will refund only the face value of the ticket
                    and NOT the service fee.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid other-event">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Other Events You May Like</h2>
                <div class="event-carou">
                    <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">
                        <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems;let i = index">
                            <div class="main">
                                <div class="event-img view view-first">
                                    <img class="img-responsive" src="assets/img/event/img{{allEventData[i]?.EventImage1}}" alt="" />
                                </div>
                            </div>
                            <div class="event-con">
                                <h3>{{allEventData[i]?.EventName}}</h3>
                                <p class="pad-top">
                                    <i class="fa fa-calendar"></i>{{allEventData[i]?.EventStartDateTime | date:'short'}}</p>
                                <p>
                                    <i class="fa fa-map-marker"></i>{{allEventData[i]?.PlaceName}}</p>
                            </div>
                        </ngx-tile>

                        <button NgxCarouselPrev class='leftRs'>&lt;</button>
                        <button NgxCarouselNext class='rightRs'>&gt;</button>
                    </ngx-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event details end -->

<!-- payment details start -->
<section class="card" *ngIf="!isEvent">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{eventData[0]?.EventName}}</h2>
                <p>
                    <a href="#">{{eventData[0]?.PlaceName}} , {{addressData[0]?.AddressLine1}} {{addressData[0]?.AddressLine2}} , {{addressData[0]?.City}}
                        , {{addressData[0]?.State}} , {{addressData[0]?.PinCode}} </a>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="eve-time">
                    <ul>
                        <li>
                            <i class="fa fa-calendar"></i>
                            <h4>{{eventData[0]?.EventEndDateTime | date:'shortDate'}}</h4>
                        </li>

                        <li>
                            <i class="fa fa-clock-o"></i>
                            <h4>{{eventData[0]?.EventEndDateTime | date:'mediumTime'}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="event-detail-box">
                    <div class="board">
                        <div class="board-inner">
                            <ul class="nav nav-tabs" id="myTab">
                                <div class="liner"></div>
                                <li class="active">
                                    <a href="#home" data-toggle="tab" title="Ticket Information">
                                        <span class="round-tabs one">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                                    </a>
                                    <p class="su-head">Ticket Information</p>
                                </li>
                                <li>
                                    <a href="#profile" data-toggle="tab" title="Ticket Buyer Details">
                                        <span class="round-tabs two">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>
                                    </a>
                                    <p class="su-head">Ticket Buyer Details</p>
                                </li>
                                <li>
                                    <a href="#messages" data-toggle="tab" title="Credit Card Details">
                                        <span class="round-tabs three">
                                            <i class="fa fa-credit-card"></i>
                                        </span>
                                    </a>
                                    <p class="su-head">Credit Card Details</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <div class="table-responsive">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Ticket Type</th>
                                                <th>Unit Price</th>
                                                <th>FEE</th>
                                                <th>Quantity</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of ticketData;let i = index">
                                                <td>
                                                    <p>{{item.TicketType}}</p>
                                                </td>
                                                <td>{{item.TicketPrice}}</td>
                                                <td>$0.00</td>
                                                <td>
                                                    <input type="text" *ngIf="array2[i] != null" [(ngModel)]="array2[i]" disabled class="form-control" style="width:50px;" />
                                                    <input type="text" *ngIf="!array2[i]" value="0" disabled class="form-control" style="width:50px;" />
                                                </td>
                                                <td>
                                                    <p *ngIf="array1[i] != null">$ {{array1[i]}}</p>
                                                    <p *ngIf="!array1[i]">$ 0</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="inn-code">
                                    <p>If you have a promotional code, please enter it here</p>
                                    <form>
                                        <input class="form-control" name="username" type="text">
                                        <a class="btn btn-next">Apply</a>
                                    </form>
                                    <a href="#profile" data-toggle="tab" title="Ticket Buyer Details" class="btn btn-info" style="float:right;">Next
                                    </a>
                                </div>
                                <div class="total">
                                    <div class="gr-01">
                                        <h4>Total</h4>
                                    </div>
                                    <div class="gr-02">
                                        <div class="to-pri">
                                            <h4>$ {{totalPrice}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <form name="billingform" (ngSubmit)="bl.form.valid && addBilling()" #bl="ngForm" novalidate>
                                    <div *ngIf="successMsg" class="help-block alert alert-success">{{successMsg}}</div>
                                    <div *ngIf="errorMsg" class="help-block alert alert-danger">{{errorMsg}}</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input [(ngModel)]="billingModel.firstname" #firstname="ngModel" required class="form-control" name="firstname" placeholder="First Name"
                                                    type="text">
                                                <div *ngIf="bl.submitted && !firstname.valid" class="help-block alert alert-danger">Username is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input [(ngModel)]="billingModel.lastname" #lastname="ngModel" required class="form-control" name="lastname" placeholder="Last Name"
                                                    type="text">
                                                <div *ngIf="bl.submitted && !lastname.valid" class="help-block alert alert-danger">Last Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email ID</label>
                                                <input [(ngModel)]="billingModel.email" #email="ngModel" class="form-control" name="email" placeholder="Email ID" type="text"
                                                    required email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                                                <div *ngIf="bl.submitted && !email.valid" class="help-block alert alert-danger">Email is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile Phone</label>
                                                <input [(ngModel)]="billingModel.phone" #phone="ngModel" required class="form-control" name="phone" placeholder="Mobile Phone"
                                                    type="number" minlength="10">
                                                <div *ngIf="bl.submitted && !phone.valid" class="help-block alert alert-danger">Mobile Phone is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Zipe</label>
                                                <input [(ngModel)]="billingModel.zip" #zip="ngModel" required class="form-control" name="zip" placeholder="Zip" type="number">
                                                <div *ngIf="bl.submitted && !zip.valid" class="help-block alert alert-danger">Zip-code is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input [(ngModel)]="billingModel.city" #city="ngModel" required class="form-control" name="city" placeholder="City" type="text">
                                                <div *ngIf="bl.submitted && !city.valid" class="help-block alert alert-danger">City is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <select class="form-control minimal" [(ngModel)]="billingModel.state" #state="ngModel" required name="state">
                                                    <option value="" selected="selected">Select</option>
                                                    <option value="AK">AK</option>
                                                    <option value="AL">AL</option>
                                                    <option value="AR">AR</option>
                                                    <option value="AZ">AZ</option>
                                                    <option value="CA">CA</option>
                                                    <option value="CO">CO</option>
                                                    <option value="CT">CT</option>
                                                    <option value="DC">DC</option>
                                                    <option value="DE">DE</option>
                                                    <option value="FL">FL</option>
                                                    <option value="GA">GA</option>
                                                    <option value="HI">HI</option>
                                                    <option value="IA">IA</option>
                                                    <option value="ID">ID</option>
                                                    <option value="IL">IL</option>
                                                    <option value="IN">IN</option>
                                                    <option value="KS">KS</option>
                                                    <option value="KY">KY</option>
                                                    <option value="LA">LA</option>
                                                    <option value="MA">MA</option>
                                                    <option value="MD">MD</option>
                                                    <option value="ME">ME</option>
                                                    <option value="MI">MI</option>
                                                    <option value="MN">MN</option>
                                                    <option value="MO">MO</option>
                                                    <option value="MS">MS</option>
                                                    <option value="MT">MT</option>
                                                    <option value="NC">NC</option>
                                                    <option value="ND">ND</option>
                                                    <option value="NE">NE</option>
                                                    <option value="NH">NH</option>
                                                    <option value="NJ">NJ</option>
                                                    <option value="NM">NM</option>
                                                    <option value="NV">NV</option>
                                                    <option value="NY">NY</option>
                                                    <option value="OH">OH</option>
                                                    <option value="OK">OK</option>
                                                    <option value="OR">OR</option>
                                                    <option value="PA">PA</option>
                                                    <option value="RI">RI</option>
                                                    <option value="SC">SC</option>
                                                    <option value="SD">SD</option>
                                                    <option value="TN">TN</option>
                                                    <option value="TX">TX</option>
                                                    <option value="UT">UT</option>
                                                    <option value="VA">VA</option>
                                                    <option value="VT">VT</option>
                                                    <option value="WA">WA</option>
                                                    <option value="WI">WI</option>
                                                    <option value="WV">WV</option>
                                                    <option value="WY">WY</option>
                                                </select>
                                                <div *ngIf="bl.submitted && !state.valid" class="help-block alert alert-danger">State is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="form-control minimal" [(ngModel)]="billingModel.country" #country="ngModel" required name="country">
                                                    <option value="USA" selected="selected">USA</option>
                                                    <option value="Canada">Canada</option>
                                                </select>
                                                <div *ngIf="bl.submitted && !country.valid" class="help-block alert alert-danger">Country is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Address</label>
                                            <textarea class="form-control" placeholder="Please enter your Address here..." rows="3" [(ngModel)]="billingModel.address"
                                                #address="ngModel" required name="address"></textarea>
                                            <div *ngIf="bl.submitted && !address.valid" class="help-block alert alert-danger">Address is required</div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block">Save</button>
                                </form>
                                <br>
                                <a href="#home" data-toggle="tab" title="Ticket Information" class="btn btn-info" style="float:left;">Previous
                                </a>
                                <a href="#messages" data-toggle="tab" title="Credit Card Details" class="btn btn-info" style="float:right;">Next
                                </a>
                            </div>
                            <div class="tab-pane fade" id="messages">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <!-- CREDIT CARD FORM STARTS HERE -->
                                                <div class="panel panel-default credit-card-box">
                                                    <div class="panel-heading display-table">
                                                        <div class="row display-tr">
                                                            <h3 class="panel-title display-td">Pay using Credit Card.</h3>
                                                            <div class="display-td text-center">
                                                                <img class="img-responsive" src="assets/img/visa.png" alt="">
                                                                <img class="img-responsive" src="assets/img/mastercard.png" alt="">
                                                                <img class="img-responsive" src="assets/img/discover.png" alt="">
                                                                <img class="img-responsive" src="assets/img/american-express.png" alt=""> </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <form name="paymentForm" (ngSubmit)="pay.form.valid && addCreditCard()" #pay="ngForm" novalidate>
                                                            <div class="row">
                                                                <div *ngIf="successMsg1" class="help-block alert alert-success">{{successMsg1}}</div>
                                                                <div *ngIf="errorMsg1" class="help-block alert alert-danger">{{errorMsg1}}</div>
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <label for="cardNumber">CARD NUMBER</label>
                                                                        <div class="input-group">
                                                                            <input type="tel" class="form-control" [(ngModel)]="paymentModel.cardNumber" #cardNumber="ngModel" name="cardNumber" placeholder="Valid Card Number"
                                                                                autocomplete="cc-number" required autofocus creditCard
                                                                            />
                                                                            <span class="input-group-addon">
                                                                                <i class="fa fa-credit-card"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div *ngIf="pay.submitted && !cardNumber.valid" class="help-block alert alert-danger">Card no is invalid or required</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <label for="couponCode">Name on Card</label>
                                                                        <input [(ngModel)]="paymentModel.name" #name="ngModel" required class="form-control" name="name" placeholder="Name of card holder"
                                                                            type="text">
                                                                        <div *ngIf="pay.submitted && !name.valid" class="help-block alert alert-danger">Name is required</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-4 col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="cardExpiry">
                                                                            <span class="hidden-xs">EXP. MONTH</span>
                                                                        </label>
                                                                        <select class="form-control minimal" [(ngModel)]="paymentModel.month" #month="ngModel" required name="month">
                                                                            <option value=''>Month</option>
                                                                            <option value='01'>January</option>
                                                                            <option value='02'>February</option>
                                                                            <option value='03'>March</option>
                                                                            <option value='04'>April</option>
                                                                            <option value='05'>May</option>
                                                                            <option value='06'>June</option>
                                                                            <option value='07'>July</option>
                                                                            <option value='08'>August</option>
                                                                            <option value='09'>September</option>
                                                                            <option value='10'>October</option>
                                                                            <option value='11'>November</option>
                                                                            <option value='12'>December</option>
                                                                        </select>
                                                                    </div>
                                                                    <div *ngIf="pay.submitted && !month.valid" class="help-block alert alert-danger">Expiry month required</div>
                                                                </div>
                                                                <div class="col-xs-3 col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="cardExpiry">
                                                                            <span class="hidden-xs">EXP. YEAR</span>
                                                                        </label>
                                                                        <select class="form-control minimal" [(ngModel)]="paymentModel.year" #year="ngModel" required name="year">
                                                                            <option value=''>Year</option>
                                                                            <option value='2018'>2018</option>
                                                                            <option value='2019'>2019</option>
                                                                            <option value='2020'>2020</option>
                                                                            <option value='2021'>2021</option>
                                                                            <option value='2022'>2022</option>
                                                                            <option value='2023'>2023</option>
                                                                            <option value='2024'>2024</option>
                                                                            <option value='2025'>2025</option>
                                                                        </select>
                                                                    </div>
                                                                    <div *ngIf="pay.submitted && !year.valid" class="help-block alert alert-danger">Expiry year required</div>
                                                                </div>
                                                                <div class="col-xs-5 col-md-5 pull-right">
                                                                    <div class="form-group">
                                                                        <label for="cardCVC">CVV
                                                                            <a data-toggle="popover" data-placement="right">What is this</a>
                                                                        </label>
                                                                        <input type="tel" [(ngModel)]="paymentModel.cardCVC" #cardCVC="ngModel" required class="form-control" autocomplete="cc-csc"
                                                                            name="cardCVC" placeholder="CVV" type="text" maxlength="3">
                                                                        <div *ngIf="pay.submitted && !cardCVC.valid" class="help-block alert alert-danger">Expiry date is required</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <button class="subscribe btn btn-previous btn-lg btn-block" type="submit">Pay Now</button>
                                                                    <small class="text-center">By clicking "Pay Now", I acknowledge that I have read
                                                                        and agree with the sulekha.com’s terms of service,
                                                                        privacy policy, and cookie policy.</small>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="display:none;">
                                                                <div class="col-xs-12">
                                                                    <p class="payment-errors"></p>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- CREDIT CARD FORM ENDS HERE -->
                                            </div>
                                            <div class="col-md-5">
                                                <div>
                                                    <h3>Amount Summary</h3>
                                                    <div class="ticket-box">
                                                        <table class="table table-striped table-condensed">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Sub Total</td>
                                                                    <td>$ {{totalPrice}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Service Fee</td>
                                                                    <td>$ 0.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Amount Payable</td>
                                                                    <td>
                                                                        <strong>$ {{totalPrice}}</strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h3>Ticket Summary</h3>
                                                    <div class="ticket-box">
                                                        <table class="table table-striped table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Type</th>
                                                                    <th>No. of Ticket</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let t of ticketData;let i =index;">
                                                                    <td>{{t.TicketType}}</td>
                                                                    <td>{{array2[i]}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h3>Billing Summary</h3>
                                                    <div class="ticket-box">
                                                        <table class="table table-striped table-condensed">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <strong>{{billingModel.firstname}} {{billingModel.lastname}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Email : </b> {{billingModel.email}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Phone : </b> {{billingModel.phone}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Address : </b> {{billingModel.address}} - {{billingModel.zip}} , {{billingModel.city}} , {{billingModel.state}} , {{billingModel.country}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <a href="#profile" data-toggle="tab" title="Ticket Buyer Details" class="btn btn-info" style="float:left;">Previous
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- / Order Summary -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 terms">
                <div class="event-detail-box">
                    <h4>Terms and Conditions:</h4>
                    <ul>
                        <li>All Sales are FINAL.</li>
                        <li>All tickets are NON-REFUNDABLE and NON-TRANSFERABLE.</li>
                        <li>The person in whose name the ticket is issued must also be present at the door with valid photo ID.</li>
                        <li>A printout of the order receipt issued by sulekha.com should be produced at the venue.</li>
                        <li>If the event attendee is different from the credit card holder, a copy of the credit card used for
                            ticket purchase must be produced along with the order.</li>
                        <li>Any failure in providing the aforementioned documents may result in denial of admission to the event
                            with no refund.
                        </li>
                        <li>In case of event being cancelled/postponed Sulekha will refund only the face value of the ticket
                            and NOT the service fee.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- payment details end -->